
.title{
    width: 100%;
    text-align: center;
    margin-bottom: 1cm;
}
form{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
}
.btn{
    background-color: orange;
}
.btns{
    display: flex;
    flex-direction: row;
}
.edt{
    background-color: cornflowerblue;
}