
.title{
    width: 100%;
    text-align: center;
    margin-bottom: 1cm;

}
table,td, th,  tr {
    border: 2px, solid, red;
    border-collapse: collapse;
}
th{
    background-color: black;
    color: white;
}